@import "tailwindcss";
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-defaultRed: #861616ff;
  --color-primaryColor: #1c4464ff;
  --color-defaultGray: #898989;
  --color-backgroundColor: #eee;
}
